<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title class="title" >Invite Us!</title>
    <!--icon-->
    <link rel = "shortcut icon" href = "../img/icons/favicon.ico" /> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Event details</h1>

    <!-- LOGIN FORM -->
    <div class="col-sm-6" id="profile" >
        <div class="well">
            <h3><span class="fa fa-user"></span> Event</h3>
            <p>
                <strong>Name</strong>: <%= event.name %><br>
                <strong>Location</strong>: <%= event.location %><br>
                <strong>Date Start</strong>: <%= event.dateStart %><br>
                <strong>Date End</strong>: <%= event.dateEnd %><br>
                <strong>Description</strong>: <%= event.description %><br>
                <strong>Organizer</strong>: <%= event.organizer %><br>
                <strong>Types</strong>: <%= event.types%><br>

            </p>

        </div>
    </div>

    <br></br>
    <form  method="GET" action="/signup" onclick="this.parentNode.submit()" >
        <button type="submit" class="btn btn-success btn-lg">Sign Up!</button>
        <p>To send invitation or to assit this event.</p>
    </form>
    
    <br></br>
    <!--
    <form  method="GET" action="/event/assist" onclick="this.parentNode.submit()" >
        <button type="submit" class="btn btn-success btn-lg">Assist!</button>
    </form>-->

    <br></br>
    <form action="/" method="get">
        <button type="submit" class="btn btn-success btn-lg">Back</button>
    </form>

</div>

</div>
</body>
</html>